// Ustawienia globalne // Global settings
body {
  border: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  background: url("images/background.jpg"), #423e11;
  background-position: top;
  background-repeat: no-repeat;
}
a {
  text-decoration:none
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration:none
}
*:focus {
    outline: none;
}
// Style strony // Site styles
header {
  height: 100vh;
  min-height: 90px;
  animation: shrink 2s ease;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  @keyframes shrink {
    0% {height:100vw;}
    100% {height:20vw;}
  }
}
#top {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 48vh 0;
  background-color: #39000A;
  color: lightgrey;
  animation: shrink2 2s ease;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  @keyframes shrink2 {
    0% {padding: 48vh 0;}
    100% {padding: 0 0;}
  }
}
#logo,
#search {
  width: 20%;
  font-size: 1.6em;
  color: transparent;
  background-color: transparent;
  animation: fade-in 1s ease;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
  @keyframes fade-in {
    0% {color: transparent;}
    100% {color:lightgrey;}
  }
}
#search{
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 15px 10px;
  color: black;
  animation: fade-in-search 1s ease;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
  @keyframes fade-in-search {
    0% {background-color: transparent;}
    100% {background-color: lightgrey;}
  }
  @media all and (max-width: 768px) {
    @keyframes fade-in-search {
      0% {background-color: transparent;}
      100% {background-color: lightgrey; width: 70%;}
    }
  }
}
#logo {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-align: center;
  @media all and (max-width: 768px) {
    font-size: 2em;
    margin-left: 10px;
  }
  span {
    font-weight: bolder;
    color: #39000A;
    animation: fade-in-color 1.5s ease;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
    @keyframes fade-in-color {
      0% {color:#39000A;}
      70%{color:#D3D3D3;}
      100%{color:darkgreen;}
    }
  }
}
#inside {
  width: 30%;
  text-align: center;
  color: transparent;
  font-size: 4em;
  animation: fade 3s ease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  @keyframes fade {
    0% {color: transparent;}
    30% {color:lightgrey;}
    80% {color:lightgrey;}
    100% {color:transparent;}
  }
  @media all and (max-width: 768px) {
    font-size: 1.5em;
    animation: fade 3s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    @keyframes fade {
      0% {color: transparent;}
      30% {color:lightgrey;}
      80% {color:lightgrey;}
      100% {color:transparent; height: 0;}
    }
  }
}
::placeholder {
    color: #39000A;
    opacity: 1; /* Firefox */
}
:placeholder-shown {
  color: #39000A;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #39000A;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #39000A;
}
.container-fluid{
  padding-top: -20px;
}
#center-part{
  background-color: lightgrey;
  opacity: .8;
  font-size: 2em;
  height: auto;
}
.category {
  font-size: 1.5em;
  padding: 10px 0;
  box-shadow: inset 0 -10px 4px -10px rgba(0,0,0,0.75);
}
#miasto {
  cursor: pointer;
  max-height: 220px;
  overflow: scroll;
  overflow-x: hidden;
}

#miasto::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F5F5F5;
}

#miasto::-webkit-scrollbar
{
width: 12px;
background-color: #F5F5F5;
}

#miasto::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px #39000A;
background-color: #39000A;
}
#map {
  max-width: 90vw;
  min-height: 300px;
  margin: 50px auto 0;
  border: 1px solid transparent;
  border-radius: 15px;
}
footer {
  color:#000;
  font-size: 1.5em;
  margin-top: 30px;
}
